server:
  port: ${SERVER_PORT}


spring:
  application:
    name: member-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE}
    

  #-------------------------------------------------------------------------------
  # MySQL-Server & JPA 설정
  #-------------------------------------------------------------------------------
  datasource:   
    driver-class-name: com.mysql.cj.jdbc.Driver
    # url: jdbc:mysql://localhost:3306/member_db?serverTimezone=Asia/Seoul&characterEncoding=utf8
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    hikari:
      connection-timeout: 20000  # 20초
      maximum-pool-size: 10
      initialization-fail-timeout: 0  # 연결 실패해도 앱이 죽지 않게 
    
  jpa:
    hibernate:
      ddl-auto: update   # create-drop : Application이 종료 될 때 모든 테이블을 drop 시켜준다.      
    properties:
      hibernate:   
        "[format_sql]": true
   


#-------------------------------------------------------------------------------
# Eureka-Server에 자가 등록 설정
#-------------------------------------------------------------------------------

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.cloud.client.hostname}:${server.port}
    prefer-ip-address: true   # Eureka 클라이언트가 자신을 등록할 때, 호스트 이름 대신 IP 주소를 사용하여 서비스 레지스리에 등록한다. 
  client:  
    register-with-eureka: true   
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
    

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
